body{
    color:rgb(161, 75, 0)
}
body{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/397/789/small/abstract-seamless-pattern-with-vertical-stripes-flat-style-illustration-different-shades-of-orange-and-yellow-design-for-fabric-textile-web-vector.jpg);
}
h1{
    background-color: white;
}
p{
    background-color: white;
}
    